$header-background-color: #02918c;
$black: #000;
$white: #FFF;
$text: #7e8287;

@import './fonts';


html {
  font-size: 62.5%;
}
body {
  font-family: $openSansRegular;
  margin: 0;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.screen {
  &__title {
    font-family: $openSansExtrabold;
    color: $header-background-color;
    font-size: 46px;
    display: block;
    text-align: center;
    margin-top: 9.8rem;
    &-span {
      font-family: $openSansRegular;
      display: block;
      text-align: center;
      font-size: 16px;
      color: $text;
    }
  }
  &__desc {
    font-family: $openSansRegular;
    display: block;
    text-align: center;
    font-size: 16px;
    margin: auto 203px;
    color: $text;
    margin-bottom: 11.6rem;
  }
}

section {
  justify-content: center;
  width: 100vw;
}

@import "screen-1";
@import "screen-2";
@import "screen-3";